@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i&display=swap");
@import url("https://use.typekit.net/thy6bhp.css");
html,
body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  font-family: proxima-nova, sans-serif;
}

.pagecontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 0px) {
  .content_container {
    width: 90vw;
  }
}

@media screen and (min-width: 576px) {
  .content_container {
    width: 576px;
  }
}

@media screen and (min-width: 800px) {
  .content_container {
    width: 750px;
  }
}

@media screen and (min-width: 1000px) {
  .content_container {
    width: 950px;
  }
}

@media screen and (min-width: 1250px) {
  .content_container {
    width: 1200px;
  }
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 85px;
  width: 100vw;
  background-color: rgba(249, 249, 249, 0.959);
  border-bottom: 0.5px solid #dbdbdb;
}

.brandlogo {
  width: 100px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.navitems {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.navitems > a {
  text-decoration: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.navitems > a > li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  color: #616161;
  font-weight: 600;
}

@media screen and (max-width: 800px) {
  .navitems > a > li {
    display: none;
  }
}

.activeitem {
  color: #0079db;
}

.contactnav {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (max-width: 800px) {
  .contactnav {
    display: none;
  }
}

.contactnav > a {
  text-decoration: none;
  font-size: 18px;
  color: #616161;
  font-weight: 600;
}

.pageheader {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #1f1f1f;
  margin-top: 80px;
  padding: 20px;
  padding-bottom: 0px;
}

@media screen and (max-width: 1000px) {
  .pageheader {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.leftpageheader {
  width: 500px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-top: 40px;
}

.leftpageheader > h1 {
  line-height: 1.3em;
  font-size: 40px;
}

@media screen and (max-width: 1000px) {
  .leftpageheader > h1 {
    font-size: 25px;
    text-align: center;
  }
}

@media screen and (max-width: 1000px) {
  .leftpageheader {
    width: 100%;
    padding-top: 15px;
  }
}

.leftpageheader > div {
  line-height: 1.5em;
  font-size: 20px;
}

.rightpageheader {
  width: 500px;
  margin-left: 50px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.rightpageheader > img {
  margin-top: 20px;
  width: 100%;
}

@media screen and (max-width: 576px) {
  .rightpageheader > img {
    margin: 0px;
  }
}

@media screen and (max-width: 1000px) {
  .rightpageheader {
    margin: 0px;
  }
}

@media screen and (max-width: 576px) {
  .rightpageheader {
    width: 300px;
  }
}

.ourmissioncontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ourmissiontitle {
  text-align: center;
  padding: 30px;
  font-size: 21px;
}

@media screen and (max-width: 800px) {
  .ourmissiontitle {
    font-size: 15.5px;
    text-align: center;
    padding: 0px;
  }
}

.threesplit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1000px) {
  .threesplit {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.threesplit > div {
  width: 25%;
  padding: 20px;
  border-radius: 20px;
}

@media screen and (max-width: 1000px) {
  .threesplit > div {
    width: 75%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 30px;
  }
}

.threesplit > div > h2 {
  text-align: center;
  font-weight: 800;
}

.threesplit > div > p {
  line-height: 1.8em;
}

.studentbox {
  border: 1px solid;
  border-color: rgba(0, 89, 255, 0.185);
}

.teacherbox {
  border: 1px solid;
  border-color: rgba(18, 145, 12, 0.185);
}

.parentbox {
  border: 1px solid;
  border-color: rgba(199, 7, 224, 0.185);
}

.container {
  display: none;
  cursor: pointer;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (max-width: 800px) {
  .container {
    display: inline-block;
  }
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #1b1b1b;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
/*# sourceMappingURL=main.css.map */